ATAC_QC/test_output/atac_h5ad/*.h5ad
ATAC_QC/test_data/fragmemt_files/*/fragments.*tsv.gz
ATAC_QC/ref/gencode.v47.primary_assembly.annotation.gtf
ATAC_QC/test_output/ATAC.Muscle_Quadriceps.demo_run.h5ads
*.h5ads
*.h5ad
*.tsv.gz
*.gtf
multi-Omic_workflow/ATAC_QC/test_data/fragmemt_files/*/fragments.*tsv.gz
*test*.ipynb
*.pt
*.scrinvex.tsv

multiome_integration/test_output/multivi/MultiVI.Muscle_Quadriceps.model/model.pt

RNA_QC/test_data/scrinvex/DGTEX008-2BO-01-SM-OJX6G-EXP01-GEX-01/DGTEX008-2BO-01-SM-OJX6G-EXP01-GEX-01.scrinvex.tsv
RNA_QC/test_data/scrinvex/DGTEX027-2BO-01-SM-OJX6J-EXP01-GEX-02/DGTEX027-2BO-01-SM-OJX6J-EXP01-GEX-02.scrinvex.tsv







