ATAC_QC/test_output/atac_h5ad/*.h5ad
ATAC_QC/test_data/fragmemt_files/*/fragments.*tsv.gz
ATAC_QC/ref/gencode.v47.primary_assembly.annotation.gtf
ATAC_QC/test_output/ATAC.Muscle_Quadriceps.demo_run.h5ads
*.h5ads
*.h5ad
*.tsv.gz
*.gtf
multi-Omic_workflow/ATAC_QC/test_data/fragmemt_files/*/fragments.*tsv.gz

