pandas==1.5.3
scipy>=1.11.1
numpy<2.0.0
anndata==0.10.9
snapatac2==2.8.0
scanpy
anndata==0.10.9
matplotlib
seaborn
harmonypy==0.0.10
upsetplot
scikit-image
igraph
jupyter
notebook
scipy
tqdm
openpyxl
pyyaml
kaleido==0.2.1
ipython
